body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://wallpaperaccess.com/full/6727996.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    margin-top: 9px;
    background-color: rgba(213, 246, 246, 0.481); 
    padding: 20px;
    border-radius: 25px;
}

.agent-card {
    border: 1px solid rgba(109, 208, 251);
    padding: 30px;
    border-radius: 25px;
    margin: 87px auto;
    max-width: 350px;
    background-color: rgba(223, 142, 139, 0.3); 
}

#agent-image {
    max-width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #8dfff9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(223, 142, 139);
}

